@import "./todoAdd.css";
@import "./header.css";
@import "./todoBar.css";
@import "./todoList.css";
@import "./clock.css";

html {
  width: 100%;
  height: 100%;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 100px;

  background-color: #d2a56d;
  /* background: url("../1827134.jpg"); */
}

#todo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  /* width: 80%; */
  width: 100%;
}

.nonselectable {
  user-select: none;
}

/* .help:active {
  background-color: #baa89b;
} */
