#clockDiv {
  width: 500px;
  height: 130px;
  /* background-color: white; */
  margin: auto;
  margin-top: 60px;
  font-family: "Ubuntu", sans-serif;
  font-size: 130px;
  color: #f2f2f2;
  text-align: center;
  justify-content: center;
}
#clockDiv p {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 130px;
}
