#todoListDiv {
  height: 40vh;
  width: 100%;
  margin: 0;
  /* background-color: antiquewhite; */
  overflow-y: scroll;
}
#todoListDiv::-webkit-scrollbar {
  display: none;
}
/* width: 1400px; */
/* width: 50%; */
/* width: 80%; */

/* height: 350px; */
/* margin: auto auto 20px; */
/* margin: 70px auto 40px; */
/* #todoListDiv:hover { */
/* animation: todoListMargin 5s forwards; */
/* animation-iteration-count: 1; */
/* } */

.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* width: 570px; */
  /* width: 66%; */
  /* width: 60%; */
  /* width: 37.5%; */
  /* width: 35em; */
  width: 30.5%;
  /* height: 40px; */
  height: 3em;
  /* background-color: rgba(255, 255, 255, 0); */
  /* background-color: aqua; */
  margin: 10px auto;

  border-radius: 3px;
  /* border: 2px solid #562b00; */
}
.todoItem p {
  font-family: "Poor story", sans-serif;
  font-size: 23px;
  color: white;
  /* width: 250px; */
  display: inline;
  margin: 0 20px;
  /* font-size: 14px; */
  text-align: start;
}
.todoItem input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: red;
}
.todoItem:hover {
  /* background-color: red; */
  /* box-shadow: 2px 2px black; */
  /* text-shadow: 0.2px 0.2px black; */
  /* text-shadow: 2px 2px red; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.todoItem::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 100%;
  border-top: 1.5px solid white;
  visibility: hidden;
}
._removeTodoItemEffect.todoItem::after {
  /* visibility: hidden; */
  /* position: relative; */
  height: 0;
  /* display: none; */
  /* background-color: red; */
  border: none;
}

.todoItem._checked::after {
  visibility: visible;
}

.textContainer {
  width: 70%;
}
.textContainer p {
  /* margin-left: 10%; */
  margin-left: 10%;
}

.attContainer {
  /* width: 30%; */
  height: 100%;
  /* position: relative;
  right: 0px; */
}

/* @media screen and (max-width: 1600px) {
  .todoItem {
    width: 40%;
  }
} */

@media screen and (max-width: 800px) {
  .todoItem {
    width: 70%;
  }
}
