#todoListDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 1400px;
  height: 350px;
  /* margin: auto auto 20px; */
  margin: 70px auto 40px;
  /* background-color: antiquewhite; */
}

.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 570px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  margin: 10px auto;

  border-radius: 3px;
  /* border: 2px solid #562b00; */
}
.todoItem p {
  font-family: "Poor story", sans-serif;
  font-size: 23px;
  color: white;
  width: 250px;
  display: inline;
  margin: 0 20px;
  /* font-size: 14px; */
  text-align: start;
}
.todoItem input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: red;
}
.todoItem:hover {
  /* background-color: red; */
  /* box-shadow: 2px 2px black; */
  /* text-shadow: 0.2px 0.2px black; */
  /* text-shadow: 2px 2px red; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.todoItem::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 100%;
  border-top: 1.5px solid white;
  visibility: hidden;
}

.todoItem._checked::after {
  visibility: visible;
}

.att {
  display: inline-block;
  width: 70px;
  height: 30px;
  /* background-color: white; */
  /* font-size: 13px; */
}
.att p {
  margin: 0 3px;
}
.att svg {
  /* margin: 0 2px; */
}

.duetime {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 65px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.duetime p {
  font-size: 19px;
  text-align: center;
}

/* .category p {
  font-size: 17px;
  text-align: center;
} */

.pink {
  background-color: pink;
}

.blue {
  background-color: skyblue;
}

.fl-row-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.fl-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attContainer {
  width: 80px;
  height: 30px;
  /* position: relative;
  right: 0px; */
}
