.fl-row-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fl-row-betw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fl-row-rev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.fl-col-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fl-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
